<h1>Director #<%= @director.id %> Details</h1>

<a href="/directors">Go Back </a>

<hr>

<dl> 
  <dt>Name</dt>
  <dd><%= @director.name %></dd>
  <dt>Date of Birth</dt>
  <dd><%= @director.dob %></dd>
  <dt>Bio</dt>
    <dd><%= @director.bio %></dd>
  <dt>Image</dt>
  <dd><img src="<%= @director.image %>" width="100" height="100"></dd>
  <dt>Created At</dt>
  <dd><%= @director.created_at %></dd>
  <dt>Updated At</dt>
  <dd><%= @director.updated_at %></dd>
</dl>

<% matching_movies = Movie.where({ :director_id => @director.id})%>

<h2>Filmography</h2>

<table border=".1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Details</th>
  </tr>

  <% matching_movies.each do |movie| %>
    <tr>
      <td><%= movie.id %></td>
      <td><image src="<%=movie.image%>" width="50"></td>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= movie.director_id %></td>
      <td>
      <a href="/movies/<%=movie.id%>"> Show Details
      </td>

    </tr>
  <% end %>
