<h1>Movie #<%= @movie.id %> Details</h1>

<a href="/movies">Go Back </a>

<hr>

<dl> 
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>
  <dt>Year</dt>
  <dd><%= @movie.year %></dd>
  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>
  <dt>Description</dt>
  <dd><%= @movie.description %></dd>
  <dt>Image</dt>
  <dd><img src="<%= @movie.image %>"></dd>
  <dt>Director</dt>
  <dd>
    <% matching_movies = Director.where({ :id => @movie.director_id})%>

    <% director = matching_movies.at(0)%>

    <%=director.name%>
  
  </dd>

  <dt>Created at</dt>
  <dd><%= @movie.created_at %></dd>
  <dt>Updated at</dt>
  <dd><%= @movie.updated_at %></dd>
</dl>
