<h1>List of Actors</h1> 

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Details</th>
  </tr>
  <% Actor.all.each do |actor| %>
    <tr>
      <td><%= actor.id %></td>
      <td>
      <img src="<%= actor.image %>" width="100" height="100">
      </td>
      <td><%= actor.name %></td>
      <td><%= actor.dob %></td>
      <td>
      <a href="/actors/<%=actor.id%>"> Show Details
      </td>
    </tr>
  <% end %>
</table>
